* {
  margin: 0;
  padding: 0;
  background-color: #040404;
}

.app {
  display: flex;
  color: white;
}



.app__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #121212;
}
